In [5]:
import yfinance
import pandas as pd

In [17]:
stonks = ["MSFT", "AAPL", "GOOG"]

dataset = yfinance.download(stonks, start="2025-02-01", period="1mo")
dataset

[*********************100%***********************]  3 of 3 completed

Price            Close                                High              \
Ticker            AAPL        GOOG        MSFT        AAPL        GOOG
Date
2025-02-03  227.461288  202.409393  410.097717  231.272103  204.986459
2025-02-04  232.239777  207.473633  411.544800  232.568984  208.462496
2025-02-05  231.910583  193.080032  412.462982  232.110099  194.328610
2025-02-06  232.658768  193.090012  414.987915  233.237374  193.609424
2025-02-07  227.082214  186.927032  408.930054  233.436880  192.795347
...                ...         ...         ...         ...         ...
2025-05-07  195.992981  152.800003  433.350006  199.178806  166.990005
2025-05-08  197.231369  155.750000  438.170013  199.788014  157.410004
2025-05-09  198.270004  154.380005  438.730011  200.277366  156.429993
2025-05-12  210.789993  159.580002  449.260010  211.270004  160.440002
2025-05-13  212.929993  160.889999  449.140015  213.399994  162.059998

Price                          Low                                Open  \
Ticker            MSFT        AAPL        GOOG        MSFT        AAPL
Date
2025-02-03  414.578723  225.156850  201.430513  407.842230  229.436535
2025-02-04  413.091716  226.104567  204.027547  408.920058  226.703129
2025-02-05  413.001880  227.720693  189.693891  409.578751  227.980062
2025-02-06  417.363157  229.875473  190.273229  413.171550  230.733404
2025-02-07  417.812238  226.713094  184.889361  407.283362  232.040255
...                ...         ...         ...         ...         ...
2025-05-07  438.119995  192.996910  149.490005  431.109985  198.909155
2025-05-08  443.670013  194.425036  154.100006  435.660004  197.461064
2025-05-09  440.739990  197.281295  153.830002  435.880005  198.739390
2025-05-12  449.369995  206.750000  157.889999  439.779999  210.970001
2025-05-13  450.670013  209.000000  157.580002  445.359985  210.429993

Price                                 Volume
Ticker            GOOG        MSFT      AAPL      GOOG      MSFT
Date
2025-02-03  201.984874  410.776349  73063300  16719500  25679100
2025-02-04  204.267279  411.864167  45067300  28285400  20532100
2025-02-05  192.880263  411.524861  39620300  43666400  16316700
2025-02-06  190.772660  413.171550  29925300  20816600  16309800
2025-02-07  192.520666  415.646597  39707200  29565700  22886800
...                ...         ...       ...       ...       ...
2025-05-07  166.070007  433.839996  68536700  78729800  23295300
2025-05-08  155.919998  437.929993  50478900  38387500  23491300
2025-05-09  155.550003  440.000000  36453900  22871000  15324200
2025-05-12  159.100006  445.940002  63775800  31884900  22821900
2025-05-13  159.919998  447.779999  51759900  24904000  23600600

[70 rows x 15 columns]

In [8]:
dataset.columns

MultiIndex([( 'Close', 'AAPL'),
            ( 'Close', 'GOOG'),
            ( 'Close', 'MSFT'),
            (  'High', 'AAPL'),
            (  'High', 'GOOG'),
            (  'High', 'MSFT'),
            (   'Low', 'AAPL'),
            (   'Low', 'GOOG'),
            (   'Low', 'MSFT'),
            (  'Open', 'AAPL'),
            (  'Open', 'GOOG'),
            (  'Open', 'MSFT'),
            ('Volume', 'AAPL'),
            ('Volume', 'GOOG'),
            ('Volume', 'MSFT')],
           names=['Price', 'Ticker'])

In [12]:
dataset[("Close", "AAPL")]

Date
2025-04-14    202.254776
2025-04-15    201.875275
2025-04-16    194.015579
2025-04-17    196.722031
2025-04-21    192.907028
2025-04-22    199.478424
2025-04-23    204.332062
2025-04-24    208.097107
2025-04-25    209.005920
2025-04-28    209.864792
2025-04-29    210.933395
2025-04-30    212.221710
2025-05-01    213.040634
2025-05-02    205.081070
2025-05-05    198.629532
2025-05-06    198.250015
2025-05-07    195.992981
2025-05-08    197.231369
2025-05-09    198.270004
2025-05-12    210.789993
2025-05-13    212.929993
Name: (Close, AAPL), dtype: float64

In [18]:
dataset.corr()

Price             Close                          High                      \
Ticker             AAPL      GOOG      MSFT      AAPL      GOOG      MSFT
Price  Ticker
Close  AAPL    1.000000  0.784626  0.276397  0.984594  0.771279  0.225784
       GOOG    0.784626  1.000000  0.407698  0.768705  0.983954  0.365241
       MSFT    0.276397  0.407698  1.000000  0.208793  0.391751  0.983908
High   AAPL    0.984594  0.768705  0.208793  1.000000  0.771405  0.179584
       GOOG    0.771279  0.983954  0.391751  0.771405  1.000000  0.368641
       MSFT    0.225784  0.365241  0.983908  0.179584  0.368641  1.000000
Low    AAPL    0.981115  0.763133  0.276926  0.975380  0.760520  0.238705
       GOOG    0.788896  0.988817  0.410539  0.777672  0.979457  0.375912
       MSFT    0.300750  0.427432  0.974405  0.243770  0.423745  0.971989
Open   AAPL    0.959890  0.740782  0.240260  0.974854  0.749383  0.215517
       GOOG    0.775407  0.963139  0.405879  0.774703  0.984102  0.385686
       MSFT    0.275258  0.392423  0.951380  0.233465  0.403711  0.967269
Volume AAPL   -0.548757 -0.392474 -0.288273 -0.481487 -0.374878 -0.236062
       GOOG   -0.340090 -0.317457 -0.026092 -0.307857 -0.217722  0.016192
       MSFT   -0.229729 -0.248045 -0.185653 -0.175969 -0.239577 -0.118734

Price               Low                          Open                      \
Ticker             AAPL      GOOG      MSFT      AAPL      GOOG      MSFT
Price  Ticker
Close  AAPL    0.981115  0.788896  0.300750  0.959890  0.775407  0.275258
       GOOG    0.763133  0.988817  0.427432  0.740782  0.963139  0.392423
       MSFT    0.276926  0.410539  0.974405  0.240260  0.405879  0.951380
High   AAPL    0.975380  0.777672  0.243770  0.974854  0.774703  0.233465
       GOOG    0.760520  0.979457  0.423745  0.749383  0.984102  0.403711
       MSFT    0.238705  0.375912  0.971989  0.215517  0.385686  0.967269
Low    AAPL    1.000000  0.790866  0.337710  0.986996  0.787217  0.321362
       GOOG    0.790866  1.000000  0.457956  0.774643  0.980202  0.431348
       MSFT    0.337710  0.457956  1.000000  0.309374  0.465707  0.986726
Open   AAPL    0.986996  0.774643  0.309374  1.000000  0.784746  0.307825
       GOOG    0.787217  0.980202  0.465707  0.784746  1.000000  0.456724
       MSFT    0.321362  0.431348  0.986726  0.307825  0.456724  1.000000
Volume AAPL   -0.632527 -0.460595 -0.402118 -0.594813 -0.467511 -0.382919
       GOOG   -0.381352 -0.364659 -0.091428 -0.357082 -0.262731 -0.067866
       MSFT   -0.307268 -0.302376 -0.270091 -0.284416 -0.307554 -0.242104

Price            Volume
Ticker             AAPL      GOOG      MSFT
Price  Ticker
Close  AAPL   -0.548757 -0.340090 -0.229729
       GOOG   -0.392474 -0.317457 -0.248045
       MSFT   -0.288273 -0.026092 -0.185653
High   AAPL   -0.481487 -0.307857 -0.175969
       GOOG   -0.374878 -0.217722 -0.239577
       MSFT   -0.236062  0.016192 -0.118734
Low    AAPL   -0.632527 -0.381352 -0.307268
       GOOG   -0.460595 -0.364659 -0.302376
       MSFT   -0.402118 -0.091428 -0.270091
Open   AAPL   -0.594813 -0.357082 -0.284416
       GOOG   -0.467511 -0.262731 -0.307554
       MSFT   -0.382919 -0.067866 -0.242104
Volume AAPL    1.000000  0.452891  0.718924
       GOOG    0.452891  1.000000  0.399623
       MSFT    0.718924  0.399623  1.000000

Close, High, Low and Open values of the same stock have almost 100% correlation, which makes sense. So if we are interested in correlations between different stocks, we can filter out all other columns except one (for example, Close).

In [26]:
filtered_df = dataset['Close'].copy()

filtered_df

Ticker            AAPL        GOOG        MSFT
Date
2025-02-03  227.461288  202.409393  410.097717
2025-02-04  232.239777  207.473633  411.544800
2025-02-05  231.910583  193.080032  412.462982
2025-02-06  232.658768  193.090012  414.987915
2025-02-07  227.082214  186.927032  408.930054
...                ...         ...         ...
2025-05-07  195.992981  152.800003  433.350006
2025-05-08  197.231369  155.750000  438.170013
2025-05-09  198.270004  154.380005  438.730011
2025-05-12  210.789993  159.580002  449.260010
2025-05-13  212.929993  160.889999  449.140015

[70 rows x 3 columns]

In [27]:
filtered_df.corr()

Ticker      AAPL      GOOG      MSFT
Ticker
AAPL    1.000000  0.784626  0.276397
GOOG    0.784626  1.000000  0.407698
MSFT    0.276397  0.407698  1.000000

## More stonks

In [47]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
tables = pd.read_html(url)
table = tables[0]
table

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [51]:
stocks = table["Symbol"]
stocks

0       MMM
1       AOS
2       ABT
3      ABBV
4       ACN
       ...
498     XYL
499     YUM
500    ZBRA
501     ZBH
502     ZTS
Name: Symbol, Length: 503, dtype: object

In [53]:
dataset = yfinance.download(list(stocks), start="2025-02-01", period="1mo")
dataset

[*********************100%***********************]  503 of 503 completed

2 Failed downloads:
['BF.B']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-02-01 -> 2025-05-14)')
['BRK.B']: YFTzMissingError('possibly delisted; no timezone found')

Price      Adj Close             Close                                      \
Ticker          BF.B BRK.B           A        AAPL        ABBV        ABNB
Date
2025-02-03       NaN   NaN  148.314911  227.461288  188.398911  129.779999
2025-02-04       NaN   NaN  146.728271  232.239777  188.210648  130.740005
2025-02-05       NaN   NaN  147.676270  231.910583  189.994171  129.600006
2025-02-06       NaN   NaN  147.326996  232.658768  191.203003  132.570007
2025-02-07       NaN   NaN  144.902161  227.082214  188.854706  134.979996
...              ...   ...         ...         ...         ...         ...
2025-05-07       NaN   NaN  107.519997  195.992981  188.089996  123.120003
2025-05-08       NaN   NaN  108.699997  197.231369  185.580002  126.389999
2025-05-09       NaN   NaN  106.930000  198.270004  184.600006  127.040001
2025-05-12       NaN   NaN  115.550003  210.789993  190.070007  134.210007
2025-05-13       NaN   NaN  115.419998  212.929993  188.000000  138.050003

Price                                                      ...   Volume  \
Ticker             ABT       ACGL         ACN        ADBE  ...      WTW
Date                                                       ...
2025-02-03  127.857735  93.099998  383.309235  438.600006  ...   700900
2025-02-04  128.504745  92.769997  389.687622  440.230011  ...  1494200
2025-02-05  131.451096  93.059998  396.284912  437.630005  ...   942700
2025-02-06  127.628799  93.879997  385.428741  435.399994  ...   641900
2025-02-07  128.474884  93.500000  384.075470  433.070007  ...   466300
...                ...        ...         ...         ...  ...      ...
2025-05-07  133.949997  92.690002  306.089996  384.970001  ...   816100
2025-05-08  134.000000  94.559998  308.880005  383.989990  ...   706800
2025-05-09  133.240005  94.540001  307.899994  383.279999  ...   396300
2025-05-12  131.990005  94.629997  322.089996  395.940002  ...   487800
2025-05-13  129.050003  93.419998  322.529999  397.399994  ...   404300

Price                                                                       \
Ticker           WY     WYNN      XEL       XOM      XYL      YUM      ZBH
Date
2025-02-03  6646800  2721100  2916900  14623200  1795100  2351500  1859600
2025-02-04  4699100  2555400  2716300  14835700  2556400  2086800  1178600
2025-02-05  2721000  3796500  2939800  13364400  1970500  2177600  1531100
2025-02-06  2109400  2458500  5611500  13411400  1748600  5571800  3791900
2025-02-07  2037200  2255300  3797800  10051600  2040200  2694300  2803600
...             ...      ...      ...       ...      ...      ...      ...
2025-05-07  4117600  3846700  4552300  12332200  1664200  1416000  2662400
2025-05-08  3812400  3041300  3160000  19196500   986100  1410900  2886100
2025-05-09  4948200  3216400  2479300  10992100   664800  1068500  3438600
2025-05-12  3661700  4639900  4783700  14244600  1531600  1552700  3166300
2025-05-13  4153300  2519500  5328100  13349100  1327600  1880000  2301000

Price
Ticker         ZBRA      ZTS
Date
2025-02-03   567700  2602000
2025-02-04   444500  2696200
2025-02-05   408800  2084900
2025-02-06   579200  2419500
2025-02-07  1423700  1927100
...             ...      ...
2025-05-07   822600  4453800
2025-05-08   711000  5580100
2025-05-09   700800  4243100
2025-05-12  1726700  3453700
2025-05-13   846800  3336700

[70 rows x 2517 columns]

In [55]:
df_filtered = dataset["Close"]
df_filtered

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2025-02-03,148.314911,227.461288,188.398911,129.779999,127.857735,93.099998,383.309235,438.600006,204.350906,49.466633,...,329.767700,30.536316,83.329834,67.187637,106.140602,122.420341,130.881531,107.928772,386.089996,171.361740
2025-02-04,146.728271,232.239777,188.210648,130.740005,128.504745,92.769997,389.687622,440.230011,205.117554,46.964622,...,319.435974,29.930555,82.960854,66.761208,108.985161,128.840439,130.851669,107.569534,383.459991,171.660736
2025-02-05,147.676270,231.910583,189.994171,129.600006,131.451096,93.059998,396.284912,437.630005,208.891144,45.936127,...,319.775024,30.129166,81.435074,67.385979,108.905869,129.408661,130.632706,108.018570,388.040009,175.079193
2025-02-06,147.326996,232.658768,191.203003,132.570007,127.628799,93.879997,385.428741,435.399994,206.929688,45.046082,...,326.017975,30.218540,80.427849,66.562874,107.468719,131.013687,143.332687,102.470459,376.799988,173.534409
2025-02-07,144.902161,227.082214,188.854706,134.979996,128.474884,93.500000,384.075470,433.070007,204.321030,45.253757,...,324.901031,29.841179,80.358040,66.047180,107.924644,130.684708,142.884796,100.714226,363.440002,170.853455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-05-07,107.519997,195.992981,188.089996,123.120003,133.949997,92.690002,306.089996,384.970001,199.860001,47.880001,...,306.019989,25.820000,84.120003,71.360001,104.610001,121.089996,149.479996,94.129997,257.279999,155.990005
2025-05-08,108.699997,197.231369,185.580002,126.389999,134.000000,94.559998,308.880005,383.989990,202.779999,47.700001,...,309.170013,25.940001,86.589996,70.169998,106.070000,123.309998,147.979996,95.110001,265.369995,161.690002
2025-05-09,106.930000,198.270004,184.600006,127.040001,133.240005,94.540001,307.899994,383.279999,207.509995,48.529999,...,309.070007,26.209999,87.930000,70.610001,107.309998,122.849998,147.130005,95.209999,266.709991,159.270004
2025-05-12,115.550003,210.789993,190.070007,134.210007,131.990005,94.629997,322.089996,395.940002,223.149994,49.900002,...,307.459991,26.969999,95.160004,67.779999,109.160004,127.250000,146.800003,98.220001,300.109985,161.919998
2025-05-13,115.419998,212.929993,188.000000,138.050003,129.050003,93.419998,322.529999,397.399994,226.679993,50.689999,...,304.209991,26.690001,96.790001,68.309998,109.459999,126.930000,145.720001,97.489998,302.380005,160.410004

In [57]:
correlations = df_filtered.corr()
correlations

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Ticker,,,,,,,,,,,,,,,,,,,,,
A,1.000000,0.847687,0.408360,0.745577,0.244679,-0.079402,0.956088,0.895115,0.679222,-0.045251,...,0.405759,0.831273,0.471593,-0.523940,0.306814,0.819251,-0.080628,0.248078,0.969531,0.818118
AAPL,0.847687,1.000000,0.561655,0.876705,0.512695,-0.054199,0.837160,0.911101,0.845189,0.155402,...,0.534753,0.823435,0.680305,-0.230743,0.432301,0.861098,0.235902,0.286203,0.798057,0.722388
ABBV,0.408360,0.561655,1.000000,0.410423,0.349001,0.169583,0.294927,0.519256,0.653404,0.270237,...,0.543013,0.750889,0.615232,0.072666,0.637158,0.569535,0.757492,0.653039,0.371618,0.626380
ABNB,0.745577,0.876705,0.410423,1.000000,0.484804,-0.199925,0.816325,0.881737,0.870564,0.090071,...,0.262298,0.633604,0.766725,-0.242304,0.235881,0.854269,0.123944,-0.003474,0.712546,0.530386
ABT,0.244679,0.512695,0.349001,0.484804,1.000000,0.050434,0.343641,0.504338,0.574204,0.460607,...,0.209027,0.294567,0.561940,0.272308,0.028356,0.577788,0.281948,-0.177181,0.245288,0.397347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XYL,0.819251,0.861098,0.569535,0.854269,0.577788,0.048096,0.838458,0.913275,0.861730,0.255613,...,0.304424,0.741950,0.776913,-0.266167,0.330042,1.000000,0.183839,0.062901,0.837373,0.812095
YUM,-0.080628,0.235902,0.757492,0.123944,0.281948,0.271227,-0.162155,0.131060,0.359326,0.218899,...,0.535724,0.398477,0.366233,0.345908,0.575216,0.183839,1.000000,0.523549,-0.134145,0.214346
ZBH,0.248078,0.286203,0.653039,-0.003474,-0.177181,0.275871,0.046868,0.122996,0.212997,0.030568,...,0.632284,0.590149,0.125739,-0.005920,0.713811,0.062901,0.523549,1.000000,0.199658,0.374966
ZBRA,0.969531,0.798057,0.371618,0.712546,0.245288,0.044087,0.928622,0.857607,0.657176,0.010369,...,0.346936,0.788240,0.495944,-0.515088,0.324151,0.837373,-0.134145,0.199658,1.000000,0.851881
ZTS,0.818118,0.722388,0.626380,0.530386,0.397347,0.232925,0.730548,0.776325,0.636407,0.175659,...,0.474173,0.843709,0.495320,-0.333077,0.441263,0.812095,0.214346,0.374966,0.851881,1.000000

## Constructing graph from correlations

In [63]:
import networkx as nx
from cdlib import algorithms

Note: to be able to use all crisp methods, you need to install some additional packages:  {'bayanpy', 'infomap', 'graph_tool', 'wurlitzer'}
Note: to be able to use all crisp methods, you need to install some additional packages:  {'ASLPAw', 'pyclustering'}
Note: to be able to use all crisp methods, you need to install some additional packages:  {'infomap', 'wurlitzer'}

In [59]:
def correlation_to_graph(corr_matrix: pd.DataFrame, threshold: float = 0.7) -> nx.Graph:
    """
    Create a graph from a correlation matrix.
    
    Parameters:
    - corr_matrix: A pandas DataFrame representing the correlation matrix (stocks Ã— stocks).
    - threshold: Minimum absolute correlation value to include an edge.

    Returns:
    - G: A networkx.Graph object with nodes and weighted edges.
    """
    G = nx.Graph()
    
    # Add nodes (stock tickers)
    for stock in corr_matrix.columns:
        G.add_node(stock)

    # Add edges for correlations above threshold
    for i, stock1 in enumerate(corr_matrix.columns):
        for j in range(i + 1, len(corr_matrix.columns)):
            stock2 = corr_matrix.columns[j]
            corr_value = corr_matrix.iloc[i, j]

            if abs(corr_value) >= threshold:
                G.add_edge(stock1, stock2, weight=corr_value)

    return G

In [64]:
def info(G, fast = False):
  print("{:>12s} | '{:s}'".format('Graph', G.name))

  n = G.number_of_nodes()
  m = G.number_of_edges()
  
  print("{:>12s} | {:,d} ({:,d})".format('Nodes', n, nx.number_of_isolates(G)))
  print("{:>12s} | {:,d} ({:,d})".format('Edges', m, nx.number_of_selfloops(G)))
  print("{:>12s} | {:.2f} ({:,d})".format('Degree', 2 * m / n, max([k for _, k in G.degree()])))

  if not fast:
    C = sorted(nx.connected_components(nx.MultiGraph(G)), key = len, reverse = True)

    print("{:>12s} | {:.1f}% ({:,d})".format('LCC', 100 * len(C[0]) / n, len(C)))

    print("{:>12s} | {:.4f}".format('Clustering', nx.average_clustering(G if type(G) == nx.Graph else nx.Graph(G))))
    
    C = algorithms.leiden(G)
    Q = C.newman_girvan_modularity().score
      
    print("{:>12s} | {:.4f} ({:,d})".format('Modularity', Q, len(C.communities)))
  print()

In [65]:
G = correlation_to_graph(correlations, threshold=0.7)

In [67]:
info(G, fast=False)

       Graph | ''
       Nodes | 503 (8)
       Edges | 33,861 (0)
      Degree | 134.64 (278)
         LCC | 98.4% (9)
  Clustering | 0.6799
  Modularity | 0.2054 (12)