In [11]:
import yfinance
import pandas as pd
import numpy as np

In [18]:
stonks = ["MSFT", "AAPL", "GOOG"]

dataset = yfinance.download(stonks, start="2025-02-01", period="1mo")
dataset

[*********************100%***********************]  3 of 3 completed

3 Failed downloads:
['GOOG', 'AAPL', 'MSFT']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Price            Close                                High              \
Ticker            AAPL        GOOG        MSFT        AAPL        GOOG
Date
2025-02-03  227.461288  202.409393  409.346222  231.272103  204.986459
2025-02-04  232.239777  207.473633  410.790649  232.568984  208.462496
2025-02-05  231.910583  193.080032  411.707153  232.110099  194.328610
2025-02-06  232.658768  193.090012  414.227448  233.237374  193.609424
2025-02-07  227.082214  186.927032  408.180695  233.436880  192.795347
...                ...         ...         ...         ...         ...
2025-05-09  198.270004  154.380005  437.926056  200.277366  156.429993
2025-05-12  210.789993  159.580002  448.436737  211.270004  160.440002
2025-05-13  212.929993  160.889999  448.316986  213.399994  162.059998
2025-05-14  212.330002  166.809998  452.109985  213.940002  168.339996
2025-05-15  211.449997  165.399994  453.130005  212.960007  167.509995

Price                          Low                                Open  \
Ticker            MSFT        AAPL        GOOG        MSFT        AAPL
Date
2025-02-03  413.819016  225.156850  201.430513  407.094868  229.436535
2025-02-04  412.334731  226.104567  204.027547  408.170717  226.703129
2025-02-05  412.245063  227.720693  189.693891  408.828207  227.980062
2025-02-06  416.598337  229.875473  190.273229  412.414411  230.733404
2025-02-07  417.046602  226.713094  184.889361  406.537020  232.040255
...                ...         ...         ...         ...         ...
2025-05-09  439.932352  197.281295  153.830002  435.081272  198.739390
2025-05-12  448.546521  206.750000  157.889999  438.974098  210.970001
2025-05-13  449.844181  209.000000  157.580002  444.543884  210.429993
2025-05-14  453.068218  210.580002  160.929993  447.318794  212.429993
2025-05-15  456.190002  209.539993  163.839996  450.429993  210.949997

Price                                 Volume
Ticker            GOOG        MSFT      AAPL      GOOG      MSFT
Date
2025-02-03  201.984874  410.023610  73063300  16719500  25679100
2025-02-04  204.267279  411.109431  45067300  28285400  20532100
2025-02-05  192.880263  410.770751  39620300  43666400  16316700
2025-02-06  190.772660  412.414411  29925300  20816600  16309800
2025-02-07  192.520666  414.884930  39707200  29565700  22886800
...                ...         ...       ...       ...       ...
2025-05-09  155.550003  439.193718  36453900  22871000  15324200
2025-05-12  159.100006  445.122814  63775800  31884900  22821900
2025-05-13  159.919998  446.959462  51909300  24944300  23618800
2025-05-14  161.309998  447.318794  49325800  31769200  19902800
2025-05-15  167.139999  450.769989  44979900  22690100  21980800

[72 rows x 15 columns]

In [19]:
dataset.columns

MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close', 'GOOG'),
            ('Adj Close', 'MSFT'),
            (    'Close', 'AAPL'),
            (    'Close', 'GOOG'),
            (    'Close', 'MSFT'),
            (     'High', 'AAPL'),
            (     'High', 'GOOG'),
            (     'High', 'MSFT'),
            (      'Low', 'AAPL'),
            (      'Low', 'GOOG'),
            (      'Low', 'MSFT'),
            (     'Open', 'AAPL'),
            (     'Open', 'GOOG'),
            (     'Open', 'MSFT'),
            (   'Volume', 'AAPL'),
            (   'Volume', 'GOOG'),
            (   'Volume', 'MSFT')],
           names=['Price', 'Ticker'])

In [20]:
dataset[("Close", "AAPL")]

Date
2025-02-03    227.461288
2025-02-04    232.239777
2025-02-05    231.910583
2025-02-06    232.658768
2025-02-07    227.082214
                 ...
2025-05-09    198.270004
2025-05-12    210.789993
2025-05-13    212.929993
2025-05-14    212.330002
2025-05-15    211.449997
Name: (Close, AAPL), Length: 72, dtype: float64

In [23]:
dataset[("Close", "AAPL")]

Date
2025-02-03    227.461288
2025-02-04    232.239777
2025-02-05    231.910583
2025-02-06    232.658768
2025-02-07    227.082214
                 ...
2025-05-09    198.270004
2025-05-12    210.789993
2025-05-13    212.929993
2025-05-14    212.330002
2025-05-15    211.449997
Name: (Close, AAPL), Length: 72, dtype: float64

In [5]:
dataset.corr()

Price            Adj Close           Close           High            Low       \
Ticker                AAPL GOOG MSFT  AAPL GOOG MSFT AAPL GOOG MSFT AAPL GOOG
Price     Ticker
Adj Close AAPL         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
          GOOG         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
          MSFT         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Close     AAPL         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
          GOOG         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
          MSFT         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
High      AAPL         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
          GOOG         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
          MSFT         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Low       AAPL         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
          GOOG         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
          MSFT         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Open      AAPL         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
          GOOG         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
          MSFT         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Volume    AAPL         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
          GOOG         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
          MSFT         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

Price                 Open           Volume
Ticker           MSFT AAPL GOOG MSFT   AAPL GOOG MSFT
Price     Ticker
Adj Close AAPL    NaN  NaN  NaN  NaN    NaN  NaN  NaN
          GOOG    NaN  NaN  NaN  NaN    NaN  NaN  NaN
          MSFT    NaN  NaN  NaN  NaN    NaN  NaN  NaN
Close     AAPL    NaN  NaN  NaN  NaN    NaN  NaN  NaN
          GOOG    NaN  NaN  NaN  NaN    NaN  NaN  NaN
          MSFT    NaN  NaN  NaN  NaN    NaN  NaN  NaN
High      AAPL    NaN  NaN  NaN  NaN    NaN  NaN  NaN
          GOOG    NaN  NaN  NaN  NaN    NaN  NaN  NaN
          MSFT    NaN  NaN  NaN  NaN    NaN  NaN  NaN
Low       AAPL    NaN  NaN  NaN  NaN    NaN  NaN  NaN
          GOOG    NaN  NaN  NaN  NaN    NaN  NaN  NaN
          MSFT    NaN  NaN  NaN  NaN    NaN  NaN  NaN
Open      AAPL    NaN  NaN  NaN  NaN    NaN  NaN  NaN
          GOOG    NaN  NaN  NaN  NaN    NaN  NaN  NaN
          MSFT    NaN  NaN  NaN  NaN    NaN  NaN  NaN
Volume    AAPL    NaN  NaN  NaN  NaN    NaN  NaN  NaN
          GOOG    NaN  NaN  NaN  NaN    NaN  NaN  NaN
          MSFT    NaN  NaN  NaN  NaN    NaN  NaN  NaN

Close, High, Low and Open values of the same stock have almost 100% correlation, which makes sense. So if we are interested in correlations between different stocks, we can filter out all other columns except one (for example, Close).

In [6]:
filtered_df = dataset['Close'].copy()

filtered_df

Empty DataFrame
Columns: [AAPL, GOOG, MSFT]
Index: []

In [7]:
filtered_df.corr()

Ticker  AAPL  GOOG  MSFT
Ticker
AAPL     NaN   NaN   NaN
GOOG     NaN   NaN   NaN
MSFT     NaN   NaN   NaN

## More stonks

In [6]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
tables = pd.read_html(url)
table = tables[0]
table

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [7]:
stocks = list(table["Symbol"])
stocks

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADBE',
 'AMD',
 'AES',
 'AFL',
 'A',
 'APD',
 'ABNB',
 'AKAM',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'APO',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ADM',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'AXON',
 'BKR',
 'BALL',
 'BAC',
 'BAX',
 'BDX',
 'BRK.B',
 'BBY',
 'TECH',
 'BIIB',
 'BLK',
 'BX',
 'BK',
 'BA',
 'BKNG',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'BLDR',
 'BG',
 'BXP',
 'CHRW',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'COR',
 'CNC',
 'CNP',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CPAY',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CRWD',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHR',
 'DRI',
 'DVA',
 'DAY',
 'DECK',
 'DE',
 'DELL',
 'DAL',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DASH',
 'DOV',
 'DOW',
 'DHI',
 'DTE',
 'DUK',
 'DD',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ERIE',
 'ESS',
 'EL',
 'EG',
 'EVRG',
 'ES',
 'EXC',
 'EXE',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FSLR',
 'FE',
 'FI',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GE',
 'GEHC',
 'GEV',
 'GEN',
 'GNRC',
 'GD',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GPN',
 'GL',
 'GDDY',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'DOC',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUBB',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JBL',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KVUE',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KKR',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LII',
 'LLY',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LULU',
 'LYB',
 'MTB',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PLTR',
 'PANW',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SW',
 'SNA',
 'SOLV',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SMCI',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TER',
 'TSLA',
 'TXN',
 'TPL',
 'TXT',
 'TMO',
 'TJX',
 'TKO',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UBER',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VLTO',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VTRS',
 'VICI',
 'V',
 'VST',
 'VMC',
 'WRB',
 'GWW',
 'WAB',
 'WBA',
 'WMT',
 'DIS',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WY',
 'WSM',
 'WMB',
 'WTW',
 'WDAY',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZTS']

In [13]:
#dataset = yfinance.download(stocks, start="2025-02-01", period="1mo")
dataset = pd.read_csv("stonks-2025-feb.csv", index_col=[0,1])
dataset

,,Adj Close.1,Close,Close.1,Close.2,Close.3,Close.4,Close.5,Close.6,Close.7,Close.8,...,Volume.493,Volume.494,Volume.495,Volume.496,Volume.497,Volume.498,Volume.499,Volume.500,Volume.501,Volume.502
Price,Adj Close,,,,,,,,,,,,,,,,,,,,,
Ticker,BF.B,BRK.B,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-03,NaN,NaN,148.31491088867188,227.46128845214844,188.39891052246094,129.77999877929688,127.85773468017578,93.0999984741211,383.3092346191406,438.6000061035156,204.3509063720703,...,700900,6646800,2721100,2916900,14623200,1795100,2351500,1859600,567700,2602000
2025-02-04,NaN,NaN,146.728271484375,232.23977661132812,188.2106475830078,130.74000549316406,128.50474548339844,92.7699966430664,389.6876220703125,440.2300109863281,205.1175537109375,...,1494200,4699100,2555400,2716300,14835700,2556400,2086800,1178600,444500,2696200
2025-02-05,NaN,NaN,147.67626953125,231.91058349609375,189.99417114257812,129.60000610351562,131.4510955810547,93.05999755859375,396.284912109375,437.6300048828125,208.89114379882812,...,942700,2721000,3796500,2939800,13364400,1970500,2177600,1531100,408800,2084900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-05-09,NaN,NaN,106.93000030517578,198.27000427246094,184.60000610351562,127.04000091552734,133.24000549316406,94.54000091552734,307.8999938964844,383.2799987792969,207.50999450683594,...,396300,4948200,3216400,2479300,10992100,664800,1068500,3438600,700800,4243100
2025-05-12,NaN,NaN,115.55000305175781,210.7899932861328,190.07000732421875,134.2100067138672,131.99000549316406,94.62999725341797,322.0899963378906,395.94000244140625,223.14999389648438,...,487800,3661700,4639900,4783700,14244600,1531600,1552700,3166300,1726700,3453700
2025-05-13,NaN,NaN,115.41999816894531,212.92999267578125,188.0,138.0500030517578,129.0500030517578,93.41999816894531,322.5299987792969,397.3999938964844,226.67999267578125,...,404300,4153300,2520600,5328100,13350800,1327600,1880000,2324000,846800,3336700
2025-05-14,NaN,NaN,111.5199966430664,212.3300018310547,177.44000244140625,137.4499969482422,128.55999755859375,90.8499984741211,320.4100036621094,399.4700012207031,226.82000732421875,...,510100,3969700,3052800,5338000,15494900,1232200,1534300,3550400,577700,3473400
2025-05-15,NaN,NaN,112.4000015258789,211.4499969482422,181.67999267578125,136.7899932861328,133.35000610351562,93.54000091552734,323.2099914550781,404.69000244140625,227.1199951171875,...,370800,2538000,3132800,6642300,15002800,1222700,1842400,2512800,442100,3536200

In [14]:
#dataset.to_csv("stonks-2025-feb.csv")
dataset.columns

Index(['Adj Close.1', 'Close', 'Close.1', 'Close.2', 'Close.3', 'Close.4',
       'Close.5', 'Close.6', 'Close.7', 'Close.8',
       ...
       'Volume.493', 'Volume.494', 'Volume.495', 'Volume.496', 'Volume.497',
       'Volume.498', 'Volume.499', 'Volume.500', 'Volume.501', 'Volume.502'],
      dtype='object', length=2516)

In [25]:
dataset["Open"]

Ticker            AAPL        GOOG        MSFT
Date
2025-02-03  229.436535  201.984874  410.023610
2025-02-04  226.703129  204.267279  411.109431
2025-02-05  227.980062  192.880263  410.770751
2025-02-06  230.733404  190.772660  412.414411
2025-02-07  232.040255  192.520666  414.884930
...                ...         ...         ...
2025-05-09  198.739390  155.550003  439.193718
2025-05-12  210.970001  159.100006  445.122814
2025-05-13  210.429993  159.919998  446.959462
2025-05-14  212.429993  161.309998  447.318794
2025-05-15  210.949997  167.139999  450.769989

[72 rows x 3 columns]

In [34]:
df_filtered = dataset["Close"] / dataset["Open"]
df_filtered.corr()

Ticker      AAPL      GOOG      MSFT
Ticker
AAPL    1.000000  0.707766  0.812251
GOOG    0.707766  1.000000  0.799402
MSFT    0.812251  0.799402  1.000000

In [12]:
from stock_graph_creation import get_sp500_stocks

#correlations = df_filtered.corr()
#correlations = get_sp500_stocks(start_date="2025-02-01", end_date="2025-03-01").corr()
correlations = pd.read_csv("stonks-2025-feb.csv")
correlations

,Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
0,A,1.000000,0.213051,0.325282,0.022707,-0.013966,0.130104,0.225081,-0.056950,0.553183,...,0.173944,0.002170,0.007170,0.062736,-0.122353,0.358743,0.044697,0.355254,0.370403,0.190442
1,AAPL,0.213051,1.000000,0.229457,0.418073,-0.079483,0.116414,0.293852,0.211977,0.544133,...,-0.051225,0.026867,0.334995,0.401305,0.097040,0.417269,-0.134835,0.233092,0.245795,0.254835
2,ABBV,0.325282,0.229457,1.000000,0.011952,0.169762,0.303987,0.148296,0.141286,-0.068978,...,0.144996,0.369233,-0.066873,0.447901,0.228085,0.317152,-0.005978,0.335579,0.493997,0.430379
3,ABNB,0.022707,0.418073,0.011952,1.000000,-0.389609,-0.197171,0.348413,0.345524,0.477303,...,-0.026347,-0.059305,0.511970,0.047885,-0.202743,0.255646,-0.030191,-0.303719,0.316882,-0.338443
4,ABT,-0.013966,-0.079483,0.169762,-0.389609,1.000000,0.082020,0.217988,0.066367,0.067643,...,0.031414,-0.127802,-0.205770,0.019288,0.563608,0.093624,-0.273274,0.166815,0.070184,0.471861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,XYL,0.358743,0.417269,0.317152,0.255646,0.093624,0.428067,0.599815,0.324057,0.233814,...,0.347798,-0.028247,-0.054085,0.019808,0.474660,1.000000,0.058634,-0.103341,0.321955,0.180211
499,YUM,0.044697,-0.134835,-0.005978,-0.030191,-0.273274,0.224603,-0.117510,0.013268,-0.144057,...,0.153087,0.304901,-0.126099,-0.027324,-0.183975,0.058634,1.000000,-0.069754,-0.365256,0.166162
500,ZBH,0.355254,0.233092,0.335579,-0.303719,0.166815,0.298702,0.109667,-0.284775,0.195085,...,0.141602,0.310994,0.126213,0.302291,0.000392,-0.103341,-0.069754,1.000000,0.219077,0.477868
501,ZBRA,0.370403,0.245795,0.493997,0.316882,0.070184,-0.063135,0.346499,0.314749,0.326791,...,-0.031987,0.171984,0.356801,-0.088432,0.186097,0.321955,-0.365256,0.219077,1.000000,0.057963
502,ZTS,0.190442,0.254835,0.430379,-0.338443,0.471861,0.528371,0.187404,0.126923,-0.090955,...,-0.023845,0.367309,-0.436441,0.409368,0.083586,0.180211,0.166162,0.477868,0.057963,1.000000

In [9]:
correlations.to_csv("stonks-2025-feb.csv")

## Constructing graph from correlations

In [2]:
import networkx as nx
from cdlib import algorithms

Note: to be able to use all crisp methods, you need to install some additional packages:  {'graph_tool', 'bayanpy', 'wurlitzer', 'infomap'}
Note: to be able to use all crisp methods, you need to install some additional packages:  {'pyclustering', 'ASLPAw'}
Note: to be able to use all crisp methods, you need to install some additional packages:  {'wurlitzer', 'infomap'}

In [3]:
from stock_graph_creation import correlation_to_graph, correlation_to_pos_neg_graphs

In [4]:
def info(G, fast = False):
  print("{:>12s} | '{:s}'".format('Graph', G.name))

  n = G.number_of_nodes()
  m = G.number_of_edges()
  
  print("{:>12s} | {:,d} ({:,d})".format('Nodes', n, nx.number_of_isolates(G)))
  print("{:>12s} | {:,d} ({:,d})".format('Edges', m, nx.number_of_selfloops(G)))
  print("{:>12s} | {:.2f} ({:,d})".format('Degree', 2 * m / n, max([k for _, k in G.degree()])))

  if not fast:
    C = sorted(nx.connected_components(nx.MultiGraph(G)), key = len, reverse = True)

    print("{:>12s} | {:.1f}% ({:,d})".format('LCC', 100 * len(C[0]) / n, len(C)))

    print("{:>12s} | {:.4f}".format('Clustering', nx.average_clustering(G if type(G) == nx.Graph else nx.Graph(G))))
    
    C = algorithms.leiden(G)
    Q = C.newman_girvan_modularity().score
      
    print("{:>12s} | {:.4f} ({:,d})".format('Modularity', Q, len(C.communities)))
  print()

In [5]:
G = correlation_to_graph(correlations, threshold=0.7)
G_pos, G_neg = correlation_to_pos_neg_graphs(correlations, threshold=0.7)

In [6]:
G.nodes

NodeView((0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502))

In [7]:
info(G)
info(G_pos)
info(G_neg)

       Graph | 'correlations'
       Nodes | 503 (86)
       Edges | 1,346 (0)
      Degree | 5.35 (42)
         LCC | 75.7% (102)
  Clustering | 0.2389
  Modularity | 0.6413 (113)

       Graph | 'pos_correlations'
       Nodes | 503 (96)
       Edges | 1,321 (0)
      Degree | 5.25 (42)
         LCC | 74.8% (110)
  Clustering | 0.2381
  Modularity | 0.6514 (121)

       Graph | 'neg_correlations'
       Nodes | 503 (466)
       Edges | 25 (0)
      Degree | 0.10 (4)
         LCC | 1.2% (478)
  Clustering | 0.0000
  Modularity | 0.8773 (478)